

table{
	border: 3px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
    border-collapse: collapse;
}
th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
tbody tr:nth-child(odd){
	background: #fff;
}
tbody tr:nth-child(even){
	background: #F7F7F7;
}

tbody td:nth-child(2), tbody th:nth-child(2){
	width: 15%;
}

tbody td:nth-child(3), tbody th:nth-child(3){
	width: 35%;
}